*{
    padding: 0;
    border: 0;
}

#menu {
    position: absolute;
    z-index: 1;
}

#menu img{
    border-radius: 50%;
}

div.opcion {
    position: absolute;
    background: black;
    border-radius: 50%; 
}