*{
    padding: 0;
    border: 0;
}

#menu {
    position: absolute;
}

#menu img{
    border-radius: 50%;
}

#opcion {
    position: absolute;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
}