*{
    padding: 0;
    border: 0;
}
body {
    background-color: rgb(83, 83, 83);
}

#menu {
    border-radius: 50%;
    position: absolute;
    background-color: black;
    z-index: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}



div.opcion {
    position: absolute;
    background: black;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.miniatura {
    position: absolute;
    background: rgb(83, 83, 83);
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

div.boton {
    background: rgb(194, 194, 194);
    position: relative;
    float: left;
    size: auto;
    text-align: center;
    padding: auto;
    border-radius:5%;
    user-select: none;
}



#cartaInformativa{
    background-image: url(../image/fondo_carta.png);
    position: absolute;
    text-align: center;
    z-index: 1;
    color: rgb(250, 250, 65);
    padding: 2%;
}

#imagen{
    background: rgb(194, 194, 194);
    position: relative;
    float: left;
}